<h1>Articles</h1>

<% if @articles.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td>
            <%= link_to 'Editar', edit_article_path(article.id) %>
            <%= link_to 'Visualizar', article_path(article.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum artigo cadastrado</p>
<% end %>